In [6]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
b = [1, 2, 3, 4, 5, 6]

a[8:]

[9, 10, 11, 12]

In [1]:
string = 'D1_1A'
'D1' in string

True

In [12]:
import json
import pandas as pd

with open ('Sample_JSON.txt', 'r', encoding='utf-8') as infile:

    string = infile.readline()

    dict = json.loads(string)

    dct = list(dict['teams']['No Tag']['players'].values())
    df = pd.DataFrame.from_dict(dct)
    
df.head()

,table_str,mii_name,lounge_name,table_name,tag,total_score,had_penalties,penalties,subbed_out,race_scores,race_positions,gp_scores,flag
0,Ghostly [ph] 35|33|15,◆Ghostly♪,Ghostly,Ghostly,No Tag,83,False,0,False,"[12, 0, 15, 8, 12, 0, 15, 6, 15, 0, 0, 0]","[2, 12, 1, 4, 2, 12, 1, 6, 1]","[[12, 0, 15, 8], [12, 0, 15, 6], [15, 0, 0, 0]]",ph
1,DS Desert Hills [hk] 31|38|3,rDH>DKSC,DS Desert Hills,DS Desert Hills,No Tag,72,False,0,False,"[15, 4, 8, 4, 10, 12, 8, 8, 3, 0, 0, 0]","[1, 8, 4, 8, 3, 2, 4, 4, 9]","[[15, 4, 8, 4], [10, 12, 8, 8], [3, 0, 0, 0]]",hk
2,Calum [ca] 27|38|7,IF CALUM,Calum,Calum,No Tag,72,False,0,False,"[7, 2, 6, 12, 7, 15, 6, 10, 7, 0, 0, 0]","[5, 10, 6, 2, 5, 1, 6, 3, 5]","[[7, 2, 6, 12], [7, 15, 6, 10], [7, 0, 0, 0]]",ca
3,Aiko [cl] 29|25|8,Reeze,Aiko,Aiko,No Tag,62,False,0,False,"[10, 6, 12, 1, 5, 10, 5, 5, 8, 0, 0, 0]","[3, 6, 2, 11, 7, 3, 7, 7, 4]","[[10, 6, 12, 1], [5, 10, 5, 5], [8, 0, 0, 0]]",cl
4,zFam27 19|38|5,ttvzFam27,zFam27,zFam27,No Tag,62,False,0,False,"[0, 10, 2, 7, 8, 8, 7, 15, 5, 0, 0, 0]","[12, 3, 10, 5, 4, 4, 5, 1, 7]","[[0, 10, 2, 7], [8, 8, 7, 15], [5, 0, 0, 0]]",

In [2]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]